{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django albums</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>


<header>
<img src="static/image_files/Songs_in_the_key_of_life.jpeg" alt="">
<img src="static/image_files/Courtney_Barnett_Sometimes_I_Think.jpeg" alt="">
Really Awesome Album List
<img src="static/image_files/220px-Grateful_Dead_-_Blues_for_Allah.jpeg" alt="">
<img src="static/image_files/Kamasi_Washington_The_Epic.jpeg" alt="">
</header>

<body>
    {% block content %}
    
    {% endblock%}    
</body>
</html>

